@using ViewsExample.Models;
@{
    // inside c# code
    // multiple code blocks can be used
    //string appTitle = "ASP.NET Core Demo App";
    @*Person person = new() { Name = "Jose", Age = null, Gender = Gender.Male };
    *@
    //List<Person> people = new List<Person>()
    //{
    //    new Person() { Name = "John Doe", Age=40, Gender=Gender.Male },
    //    new Person() { Name = "Jane Doe", Age=30, Gender=Gender.Female },
    //    new Person() { Name = "Jimmy Doe", Age=15, Gender=Gender.Male },

    //};
}

@*@{
    // local function
    string GetAgeMessage(int age)
    {
        if (age < 120)
        {
            return $"{age} years old";
        }
        return "an ancient human";
    }

    //string alertMessage = $"<script>alert('{people.Count} people found')</script>";
}*@
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["appTitle"]</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
       @* @Html.Raw(alertMessage)*@
       <div class="page-content">
            <h1>Welcome</h1>
            @{
                List<Person>? people = (List<Person>)ViewData["people"];
            }
            @for (int index = 0; index < 3; index++)
            {
            Person person = people[index];
            @*
                    @:Hello to
                    static text to be used inside of @
                *@
            
                <div class="box float-left w-50">
                    <h3>@person.Name</h3>
                    <table class="table w-100">
                            <tbody>
                                <tr>
                                    <td>Gender</td>
                                    <td>@person.Gender</td>
                                </tr>
                                <tr>
                                    <td>Age</td>
                                    <td>@person.Age</td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            }
       </div>
    @*@foreach (Person person in people)
    {
        <div>
            @person.Name,
            <span>@person.Gender</span>
            @if(person.Age != null)
            {
                <span>@person.Age years old</span>
            }
        </div>
    }*@
    @* //    @switch(person.Gender)
        {
            case Gender.Male:
                <h1>Welcome, Mr. @person.Name</h1>
                ;
                break;
            case Gender.Female:
                <h1>Welcome, Mss. @person.Name</h1>
                ;
                break;
            case Gender.Unknown:
                <h1>Welcome, @person.Name</h1>
                ;
                break;
        }
    @if (person.Age.HasValue)
    {
        <p>@person.Age years old</p>
    }
    else
    {
        <p>Age is unknown</p>
    }
    *@
   
</body>
</html>